body{
    margin: 0;
    border: 0;
}

.container{
    margin: 100px;
    border: 2px solid rgb(253, 229, 200);
    border-radius: 15px;
    background-color: rgb(253, 236, 215);
}
.main-cartoom{
    margin: 25px;
    border: 2px solid rgb(157, 129, 94);
    border-radius: 15px;
    background-color: rgb(193, 169, 140);
    padding-left: 280px;
    padding-right: 280px;

    display: flex;
    flex-direction: row;
} 

.elemento-cartoon{
    margin: 25px;
    border: solid rgb(157, 129, 94);
  
}

h1{
    font-size: 30px;
    font-family: fantasy;
    color:brown;
    
}

.tom-cartoon{
    width: 340px;
    height: 260px;
    border-radius: 15px;

}

.form-cartoon{
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: ;
}

.box-cartoon{
    width: 336px;
    height:22px;
    border: 1px solid;
    font-size:14px;
    border-radius:5px;
    background-color: beige;
    gap: 25px;
}

.btn-cartoom{

}

.botao-cartoon{
    width:165px;
    color:cadetblue;
    height:24px;
    background-color: rgb(201, 239, 239);
    border-radius:5px;
    border: 1px solid;
}
